.landing-jumb {
  background-color: transparent;
  font-family: 'Wellfleet', cursive;
  text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.landing {
  background-image: url("images/background.png");
  background-size: cover;
}

.profile {
  display: block;
  margin: 0 auto;
}

.port {
  height: 150px;
  display: block;
  margin: 0 auto;
}
